$base-color: #330066;
//$active-color: #cccccc;

$base-gradient: 'flat';

$toolbar-gradient: 'matte';

//$tabs-bar-gradient: 'flat';
//$tables-dark-active-color: $active-color;

//$tabs-dark: #ccc;

$color-light: #777;
$complement: #777;

$list-header-bg-color: #ccc;
$list-header-color: #777;

$include-default-icons: false;

@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-list;
@include sencha-list-paging;
@include sencha-list-pullrefresh;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;
@include sencha-loading-spinner;

@include pictos-iconmask('action');
@include pictos-iconmask('address_book');
@include pictos-iconmask('arrow_left');
@include pictos-iconmask('axe_em');
@include pictos-iconmask('axe');
@include pictos-iconmask('bookmarks');
@include pictos-iconmask('broadcast');
@include pictos-iconmask('bug');
@include pictos-iconmask('calendar2');
@include pictos-iconmask('chat3');
@include pictos-iconmask('compose');
@include pictos-iconmask('flag');
@include pictos-iconmask('headphones');
@include pictos-iconmask('help');
@include pictos-iconmask('home');
@include pictos-iconmask('info');
@include pictos-iconmask('list');
@include pictos-iconmask('mail');
@include pictos-iconmask('layout');
@include pictos-iconmask('maps');
@include pictos-iconmask('more');
@include pictos-iconmask('news');
@include pictos-iconmask('pause');
@include pictos-iconmask('phone1');
@include pictos-iconmask('play_black1');
@include pictos-iconmask('play2');
@include pictos-iconmask('search1');
@include pictos-iconmask('star');
@include pictos-iconmask('team');
@include pictos-iconmask('team1');
@include pictos-iconmask('time');
@include pictos-iconmask('twitter2');
@include pictos-iconmask('user3');
@include pictos-iconmask('user_add');
@include pictos-iconmask('user_fave');
@include pictos-iconmask('user_list');
@include pictos-iconmask('user_list2');
@include pictos-iconmask('user_remove2');
@include pictos-iconmask('video');
@include pictos-iconmask('volume');
@include pictos-iconmask('volume_down');
@include pictos-iconmask('volume_mute');
@include pictos-iconmask('volume_up');
@include pictos-iconmask('warning_black');
@include pictos-iconmask('warming_dotted');

.campus-alerts {
	padding: 20px;
	text-align: center;
	color: #555;
}

.sfasuToolbar{
    border-top: none;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    /*background-attachment:fixed;*/
    background-position:center;
    background-size: 149px 35px;/*cover;*/
    /*background-color: #000066;*/
	width: 100%;
}

.no-searches {
	padding: 20px;
	text-align: center;
	color: #555;
}

.thumbnail {
	float: left;
	margin-right: 10px;
	border: 1px solid #000;
}

.homeBackground{
    background: #190025;
    background-image: url('../images/app-background.png');
    background-repeat: no-repeat;
    background-position: center;
	background-size: 100%;
}

.lumberjackBackground{
    background: #000;
    background-image: url('../images/lumberjack.jpg');
    background-repeat: no-repeat;
    //background-position: center;
	background-size: 100% auto;
}

.handAxeBackground{
    background: #000;
    background-image: url('../images/hand-axe.jpg');
    background-repeat: no-repeat;
    //background-position: center;
	background-size: 100% auto;
}

.steveBackground{
    background: #000;
    background-image: url('../images/stephen-f-austin.jpg');
    background-repeat: no-repeat;
    //background-position: center;
	background-size: 100% auto;
}

.traditions_card {
	background-color: rgba(0,0,0,.6);
    font-weight: bold;
    color: rgba(255,255,255,.6);
    text-shadow: rgba(255,255,255,.2) 0 1px 0;
	text-align: left;
}

.traditions_card p{
    color: rgba(255,255,255,.6);
    text-shadow: rgba(255,255,255,.2) 0 1px 0;
	text-align: left;
}

.traditions_card h2 {
	font-weight: bold;
    color: rgba(255,255,255,.6);
    text-shadow: rgba(255,255,255,.2) 0 1px 0;
}

.personInfo {

    background: #fff;

    .header {
        @include background-gradient(#eee);
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ddd;
        padding: 1em 0.8em;
    }

    .avatar {
        background-position: center center;
        -webkit-border-radius: 0.5em;
        float: left;
        border: 0;
        border-radius: 0.5em;
        margin-right: 10px;
        width: 60px;
        height: 60px;
        background-size: 62px auto;
    }

	.photo {
	  display: block;
	  margin: auto;
	  max-width: 30%;
	  padding: 8px;
	  background: #fff;
	  border: 1px solid #ccc;
	  -webkit-box-shadow: 3px 3px 5px #ccc;
	  -webkit-transform: rotate(-3deg)!important;
	}

    p {
        color: #333;
        line-height: 1.5em;
        padding: 0.4em 1.2em;
        font-size: 0.8em;
    }

	h3 {
	    margin-top: 0.3em;
	    font-size: 1.2em;
	}

	h4 {
	    color: #999;
	    margin-bottom: 0.3em;
	}
}

.header {
    @include background-gradient(#eee);
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ddd;
    padding: 1em 0.8em;
}

.avatar {
    background-position: center center;
    -webkit-border-radius: 0.5em;
    float: left;
    border: 0;
    border-radius: 0.5em;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
}

.x-slidenavigation-container.x-dragging,
        .x-slidenavigation-container.open {
            /**
             *  The performance of this now seem acceptable.  If you
             *  are experiencing a laggy sliding animation you can either
             *   a) Turn off the slide animation (set duration to 0), or
             *   b) Use the border-image method below
             */
             box-shadow: 0 0 4px 1px #999;
             -webkit-box-shadow: 0 0 4px 1px #999;
}

.homeCaption {
	background-repeat:no-repeat;
	background-position:center center;
	background-size: 100% 100%;
	background-image: -webkit-gradient(
		linear, right top, right bottom, from(rgba(0, 0, 0, 1.0)),
			to(rgba(0, 0, 0, 0))
	);
	//background-image: -webkit-linear-gradient(top, #444444, #999999);
	padding: 10px;
	font-weight: bold;
	//font-size: 0.7em;
	font-size: 60%;
    color: #fff;

    text-shadow: rgba(255,255,255,.2) 0 1px 0;

	h2 {
	    color: #fff;
		font-weight: bold;
		font-size: 1.2em;
	    margin-bottom: 0.3em;
	}
}

.homeCaptionTablet {
	font-size: 100%;
	p {
		//padding-top: 20%;
	}
}

.feedTwitter {
	background-image: url(../images/twitter-icon.png) !important;
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 25%;
	color: #fff;
}